html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px; }

/**
 * Links
 */
a {
  color: inherit; }

/**
 * Some helpers
 */
.mobile-only {
  display: none; }
  @media screen and (max-width: 768px) {
    .mobile-only {
      display: initial; } }

@media screen and (max-width: 768px) {
  .desktop-only {
    display: none; } }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.col--3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .col--3:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col--3 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .col--3:last-child {
        margin-right: 0; } }

.col--4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .col--4:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col--4 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .col--4:last-child {
        margin-right: 0; } }

.col--6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .col--6:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .col--6 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .col--6:last-child {
        margin-right: 0; } }

.nav {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px; }

.nav__home-link {
  display: inline-block;
  height: 50px;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 20px;
  margin-right: 20px; }

.nav__list {
  display: inline-block;
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 768px) {
    .nav__list {
      display: none; } }

.nav__list-item {
  display: inline-block;
  list-style: none; }
  @media screen and (max-width: 768px) {
    .nav__list-item {
      display: block;
      background: #000; } }

.nav__list-item a {
  display: block;
  height: 50px;
  padding: 15px;
  line-height: 20px;
  color: #ddd;
  text-decoration: none; }
  .nav__list-item a:hover, .nav__list-item a:focus, .nav__list-item a:active {
    color: #EB3B3B;
    transition: all 0.2s linear; }
  @media screen and (max-width: 768px) {
    .nav__list-item a {
      height: auto;
      padding: 25px; }
      .nav__list-item a:hover, .nav__list-item a:focus, .nav__list-item a:active {
        background: #fff;
        color: #000; } }

.nav--fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

/**
 * Mobile off-canvas nav
 */
.hamburger__icon {
  font-size: 2rem;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 0 1rem;
  cursor: pointer; }

#off-canvas-toggle:checked ~ .nav__list {
  display: block; }

.landing-section {
  background-color: #000;
  background-image: url("/img/space_min.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

.about-section {
  padding: 2rem 0;
  padding-top: calc(2rem + 50px);
  background: #2BBF9B;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300; }

.projects-section {
  padding: 2rem 0;
  background: #222;
  color: #fff;
  font-weight: 300; }

.project-container {
  margin-top: 5rem; }

.profile {
  position: absolute;
  top: calc(50% - 100px);
  left: 0;
  right: 0;
  text-align: center; }

.profile__picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("/img/profilepic.jpg");
  background-size: cover;
  margin: 0 auto; }

.profile__text {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.8);
  color: #eee;
  border-radius: 4px;
  font-size: 1.2rem; }

/**
 * Headers
 */
.header {
  font-size: 1.5rem;
  font-weight: normal; }

.header--underline-pink {
  padding-bottom: 10px;
  border-bottom: 2px solid #ed1250; }

.section-header {
  text-align: center;
  font-size: 4.5rem;
  font-weight: normal;
  margin: 2rem 0; }

/**
 * Test transforms
 */
.center {
  text-align: center; }

.large-text {
  font-size: 1.25rem; }

.small-text {
  font-size: 0.75rem; }
