*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Catamaran', sans-serif;
}

#landing-page {
    background-color: #000;
    background-image: url("/img/space_min.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.profile-block {
    position: absolute;
    top: calc(50% - 100px);
    left: 0;
    right: 0;
    text-align: center;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url("/img/profilepic.jpg");
    background-size: cover;
    margin: 0 auto;
}
.profile-text {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.8);
    color: #eee;
    border-radius: 4px;
    /*margin-right: -22px;*/
    font-size: 1.2rem;
}

.inline-nav {
    background: #000;
}
.nav-home-link {
    display: inline-block;
    height: 50px;
    padding: 15px;
    color: #eee;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 20px;
}
.inline-nav-list {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.inline-nav-list-item {
    display: inline-block;
    list-style: none;
}
.inline-nav-list-item a {
    height: 50px;
    padding: 15px;
    color: #ddd;
    text-decoration: none;
}
.inline-nav-list-item a:hover {
    color: #EB3B3B;
    transition: color 0.2s linear;
}
.inline-nav--fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#about-page {
    height: 800px;
    background: #2BBF9B;
}
