.landing-section {
    background-color: #000;
    background-image: url("/img/space_min.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.about-section {
    padding: 2rem 0;
    padding-top: calc(2rem + 50px);
    background: #2BBF9B;
    color: #fff;
    font-size: 1.5rem;
}

.projects-section {
    padding: 2rem 0;
    background: #ccc;
    height: 1000px;
}
