.landing-section {
    background-color: #000;
    background-image: url("/img/space_min.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.about-section {
    // height: 800px;
    padding: 2rem 0;
    background: #2BBF9B;
    color: #fff;
    font-size: 1.5rem;
}
