.landing-section {
    background-color: #000;
    background-image: url("/img/space_min.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.about-section {
    padding: 2rem 0;
    padding-top: calc(2rem + 50px);
    background: #2BBF9B;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
}

.projects-section {
    padding: 2rem 0;
    background: #222;
    color: #fff;
    font-weight: 300;
}

.project-container {
    margin-top: 5rem;
}
